---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Music from '../components/Music.astro';
import News from '../components/News.astro';
import Events from '../components/Events.astro';
import Booking from '../components/Booking.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Valentino Nguelieu - La voix du cœur">
  <Header />
  <main>
    <Hero />
    <About />
    <Music />
    <News />
    <Events />
    <Booking />
    <Contact />
  </main>
  <Footer />
</Layout>